/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/5/3, 下午 12:32:30
    Author     : A40385
*/

.visMap_mainFrame{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}