/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/8/1, 下午 01:21:57
    Author     : A40385
*/

.sparkConsolePage_contentFrame{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}
